<launch>
   <arg name="serialport"  default="/dev/aimibot" />
   <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
   <include file="$(find aimibot)/launch/includes/velocity_smoother.launch.xml"/>

   <node pkg="aimibot" type="aimibot_teleop_joy" name="aimibot_teleop_joystick">
    <param name="scale_angular" value="0.3"/>
    <param name="scale_linear" value="0.2"/>
    <remap from="aimibot_teleop_joystick/cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
   </node>

  <node pkg="joy" type="joy_node" name="joystick"/>
  <!-- <node pkg="aimibot" type="aimibot" name="aimibot" >
    <param name="serial_port" value="$(arg serialport)"/>
    <param name="odom_frame"      value="odom"/>
    <param name="base_frame"      value="base_footprint"/>
    <param name="use_imu_heading" value="false" />
    <param name="publish_tf"      value="true" />
    <remap from="aimibot/commands/velocity" to="teleop_velocity_smoother/raw_cmd_vel"/>
  </node>  -->
</launch> 
