<launch>
  <arg name="serialport"  default="/dev/ttyUSB0" />
  <node pkg="aimibot" type="aimibot" name="aimibot" output="screen">
    <param name="serial_port" value="$(arg serialport)"/>
    <param name="odom_frame"      value="odom"/>
    <param name="base_frame"      value="base_footprint"/>
    <param name="use_imu_heading" value="true" />
    <param name="publish_tf"      value="true" />
    <remap from="/aimibot/commands/velocity" to="/mobile_base/commands/velocity"/>
  </node>
  
  <node pkg="move_demo" type="move_demo" name="move_demo"  output="screen">
    <remap from="/mobile_base/commands/velocity" to="/aimibot/commands/velocity"/>
  </node>
</launch>